.form-group {
    background-color: #e0e0e0;
    border-radius: 5px;
    display: block;
    padding-bottom: 15px;
}

.form-group label {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 10px;
    background-color: #737272;
    color: #f3f3f3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-group select.form-control {
    width: 50%;
    margin-left: 10px;
}